<div>
  <h2>New Assignment</h2>
  <form class="example-form" [formGroup]="newAssignmentForm">
    <mat-form-field class="example-full-width">
      <input type="text"
      placeholder="Pick a Camera"
      matInput
      formControlName="camera"
      [matAutocomplete]="autoCamera">
      <mat-autocomplete autoActiveFirstOption #autoCamera="matAutocomplete" [displayWith]="cameraDisplayFn">
        <mat-option *ngFor="let option of filteredCameraOptions | async" [value]="option">
          {{option.deviceNo}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text"
      placeholder="Pick a Vehicle"
      matInput
      formControlName="vehicle"
      [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="vehicleDisplayFn">
        <mat-option *ngFor="let option of filteredVehicleOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-button mat-raised-button color="primary" (click)="createNew()" [disabled]="newAssignmentForm.invalid">Create</button>
  </form>

  <h2>Existing Assignments</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input matInput [formControl]="searchField">
  </mat-form-field>

  <mat-list>
    <mat-list-item *ngFor="let assignment of filteredHydratedAssignments | async">
      <div class="row-label">Name:</div> {{assignment.name}} <div class="row-label">Device:</div> {{assignment.deviceNo}} <div class="row-label">Deleted:</div> {{assignment.deleted}}
      <button *ngIf="!assignment.deleted" class="remove-button" mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" (click)="remove(assignment.id)">
        X
      </button>
    </mat-list-item>
  </mat-list>
</div>
