.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.row-label {
  color: #a7a7a7;
  text-decoration: underline;
  margin: 0px 15px;
}

.remove-button {
  margin-left: 20px;
}
