<h2>New Camera</h2>
<form [formGroup]="newCameraForm">
  <mat-form-field class="example-full-width">
    <mat-label>Device No.</mat-label>
    <input matInput formControlName="deviceNo" placeholder="Ex. CAM1">
    <mat-error *ngIf="newCameraForm?.controls.deviceNo?.errors?.duplicateName">
      A camera with the same identifier already exists
    </mat-error>
  </mat-form-field>
  <br/>
  <button mat-button mat-raised-button color="primary" (click)="createNew()" [disabled]="newCameraForm.invalid">Create</button>

</form>
<h2>Existing Cameras</h2>

<mat-list>
  <mat-list-item *ngFor="let cam of cameras | async"> {{cam.deviceNo}} </mat-list-item>
 </mat-list>
