<div class="header">
  <div class="logo"  [routerLink]="['']"><p>Camera Manager</p></div>
  <div class="spacer"></div>
  <div class="menu">
    <div class="menu-item" [routerLink]="['']" ><p>Assignments</p></div>
    <div class="menu-item" [routerLink]="['vehicles']" ><p>Vehicles</p></div>
    <div class="menu-item" [routerLink]="['cameras']"><p>Cameras</p></div>
  </div>
</div>


<div class="app-content">
  <div class="disclaimer">
    <p>I could spend forever making this look good across every conceivable break point
      but I'll settle for this disclaimer showing I know how to use media queries... and go to bed.</p>
  </div>
  <router-outlet></router-outlet>
</div>

