.app-content {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  margin: auto;
  min-height: 100vh;
  background: #ffffff;
  padding: 0px 10px;
}

.logo {
  font-size: 2em;
}

.header {
  background: #ebebeb;
  width: 100vw;
  height: 80px;
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  z-index: 3;
}

.logo, .menu-item {
  text-align: center;
  display: flex;
  align-items: center;
}

.spacer {
  flex-grow: 1;
}

.menu {
  display: flex;
  width: 400px;
  align-items: stretch;
  justify-content: space-evenly;
}

.menu-item {
  border-left: 1px solid #f4f4f4;
  width: 100%;
  text-align: center;
}

.disclaimer {
  display: block;
  background: rgb(183, 248, 183);
  border: 2px solid green;
  padding: 10px;
}

.menu-item p {
  width: 100%;
  margin: 0;
}

@media (min-width: 48em) {
  .app-content {
    width: 80vw;
  }

  .disclaimer {
    display:  none;
  }

  .logo {
    font-size: 3em;
  }
}
