<h2>New Vehicle</h2>
<form [formGroup]="newVehicleForm">
  <mat-form-field class="example-full-width">
    <mat-label>Vehicle Name</mat-label>
    <input matInput formControlName="vehName" placeholder="Ex. Cool Truck">
    <mat-error *ngIf="newVehicleForm?.controls.vehName?.errors?.duplicateName">
      A vehicle with the same identifier already exists
    </mat-error>
  </mat-form-field>
  <br/>
  <button mat-button mat-raised-button color="primary" (click)="createNew()" [disabled]="newVehicleForm.invalid">Create</button>
</form>
<h2>Existing Vehicles</h2>
<mat-list>
  <mat-list-item *ngFor="let veh of vehicles | async"> {{veh.name}}</mat-list-item>
 </mat-list>
